.merienda{
  @import url('https://fonts.googleapis.com/css?family=Merienda');
  font-family: 'Merienda', cursive;
 }

.titanOne{
  @import url('https://fonts.googleapis.com/css?family=Titan+One');
  font-family: 'Titan One', cursive;
}

.newRocker{
  @import url('https://fonts.googleapis.com/css?family=New+Rocker');
  font-family: 'New Rocker', cursive;
}

.shrikhand{
  @import url('https://fonts.googleapis.com/css?family=Shrikhand');
  font-family: 'Shrikhand', cursive;
}
