//style dla przycisków tworzenia postaci: losowo oraz "ręcznie"
#randomHero, #chooseHero{ width: 25%; height: 90%; color: white; font-size: 200%; text-shadow: 1px 1px black; }

#randomHero{ background-color: #0000ff; margin-left: 20%; }
#randomHero:active{ animation: animRandomHero 0.25s linear; animation-fill-mode: forwards; }
@keyframes animRandomHero{
  0%{ box-shadow: inset 0 0 0 black; background-color: #0000ff; }
  100%{ box-shadow: inset 0 0 20px black; background-color: #a8a8ff; color: black; text-shadow: 1px 1px white; }
}

#chooseHero{ background-color: #cc0000; float: right; margin-right: 20%; }
#chooseHero:active{ animation: animChooseHero 0.25s linear; animation-fill-mode: forwards;  }
@keyframes animChooseHero{
  0%{ box-shadow: inset 0 0 0 black; background-color: #cc0000; }
  100%{ box-shadow: inset 0 0 20px black; background-color: #ff6b6b; color: black; text-shadow: 1px 1px white; }
}

#randomHero:focus, #chooseHero:focus{ outline: none; }

//style dla wyników tworzenia postaci
#randomResult, #choosingResult{
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  p{
    font-size: 150%;
    width: 100%;
    height: 25px;
  }

  div{
    width: 24%;
  }

#resultSkills, #resultEquip, #skillsResult, #equipResult{
    width: 100%;
  }

  #points, #pointsResult{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 150%;
    width: 100%;
    height: 25px;
    div{
      width: 20%;
    }
  }

  #resultEyes, #resultHair, #resultSkin, #resultTattoo, #eyesResult, #hairResult, #skinResult, #tattooResult{
    margin: 5% 0 0 0;
  }
}


//style dla rozwijalnego menu w ręcznym tworzeniu postaci
/* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */
/* wygląd głównego elementu - ol */
     .chooseHeroMenu {
       list-style-type: none;
       padding:0;
       margin:0;
       background-color: beige;
       height:2em;
       line-height:2em;
       text-align:center;
       text-shadow: 1px 1px white;

       li {
          float:left;
          width: 7%;
          margin-left:1px;
          background-color: #008000;
          height:2em;

		      ul { li{ width: 100%; } }
       }

    li:first-child {  margin-left:0; }
    li:hover { background-color: #33FF33; }
    li:hover { ul { display:block; } }
  }

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
 ol{
  li{
    ul {
      display: none;
      list-style-type: none;
      padding:0;
      margin:0;
      /* wygląd elementu - li - w części rozwijanej */
      li { position: relative; background-color: #009900; }
      li:hover { background-color: #33FF33; }
    }
  }
}

#chooseHeroDescription{ text-indent: 20px; padding: 10px 0 0 5px; }

.greenBtn{
  background: linear-gradient(#fff, #009900);
  padding: 3px 5px 3px 5px;
}

.redBtn{
  background: linear-gradient(#fff, #ff0000);
  padding: 3px 5px 3px 5px;
}
