@import "fonts";
@import "firstIntro";
@import "firstMenu";
@import "gameInfo";
@import "heroCreator";


//reset
*{ margin: 0; padding: 0; }

html, body { width: 100%; height: 100%; }

//ustawienie koloru tła dla pierwszego intra gry
body{ background-color: lightgray; }

//ustawienie wysokoci i szerokości dla poszczególnych części strony (gry)
header, footer{ width: 100%; height: 10vh; }
nav{ width: 100%; height: 15vh; }
#alerts{ width: 100%; height: 5vh; }
#mainPart{ width: 90%; height: 60vh; margin: 0 auto; }
footer{ display: flex; justify-content: space-between; }

//style dla tytułu gry w nagłówku
header{
  text-align: center;

  span:first-child{
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
    -webkit-text-fill-color: #800000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  span:last-child{
        font-size: 150%;
        font-style: italic;
        font-weight: bold;
        -webkit-text-fill-color: #808000;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
  }
}

//style dla stopki
#version{
  font-size: 125%;
  font-weight: bold;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

//style dla przycisków w cześci o id heroBtns
#heroBtns{ display: flex; justify-content: space-around; }

//style dla tekstu w części o id mainPart
.standardText{
  text-indent: 5%;
  font-weight: bold;
  font-size: 150%;
  text-shadow: 1px 1px white;
}

//kolory tekstu zielony, czerwony, czarny
.greenText{ color: green; text-shadow: 0 0 2px green; }
.redText{ color: red; text-shadow: 0 0 2px red; }
.blackText{ color: black; text-shadow: 0 0 2px black; }

//wyśrodkowanie tekstu
.center{ text-align: center; }

//brak wcięcia tekstu
.textIndent0{ text-indent: 0; }

//wcięcia tekstu
.textIndent15px{ text-indent: 15px; }

//float left
.floatLeft{ float: left; }

//float right
.floatRight{ float: right; }

//czyszczenie floatów
.clearFloats{ clear: both; }

.displayFlex{
  display: flex;
  justify-content: space-between;
  margin-top: 20px 0 0 0;
}

.displayFlexMainBtns{
  display: flex;
  justify-content: space-around;
}

.justifyCenter{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.anotherFlex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#resultColorEye, #resultColorHair, #resultColorSkin{
  width: 100px;
  height: 25px;
}

#resultWeight, #resultHeight{
  width: 150px;
  height: 25px;
  text-align: center;
}

.skillsFlex{
  display: flex;
  flex-wrap: wrap;
  p{ width: 100%; text-decoration: underline; }
  div{ width: 15%; }
}

.blackUnderline{ text-decoration: underline; }

#deleteSkills, #deleteEquip{
  background-color: crimson;
  color: white;
}

.animOpacity01{
  animation: opacity01 4s linear;
  animation-fill-mode: forwards;
}

@keyframes opacity01{
  0% { opacity: 0; }
  100% { opacity: 1%;}
}

.animOpacity10{
  animation: opacity10 4s linear;
  animation-fill-mode: forwards;
}

@keyframes opacity10{
  0% { opacity: 1; }
  100% { opacity: 0;}
}

#features, #equip, #skills, #tasks{
  width: 20%;
  height: 80%;
  color: white;
  font-size: 170%;
  text-shadow: 1px 1px black;
  outline: none;
}

.width10p{ width: 10%; }
.width15p{ width: 15%; }
.width20p{ width: 20%; }
.width24p{ width: 24%; }
.width33p{ width: 33%; }
.width100p{ width: 100%; }

.height15px{ height: 15px; }

.margin1000p{ margin: 1% 0 0 0; }
.margin2000p{ margin: 2% 0 0 0; }
.margin4000p{ margin: 4% 0 0 0; }

//style dla lokacji: pokój
#outRoom{
  background-color: crimson;
  color: white;
  width: 15%;
  height: 4%;
}
